<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>"Alumnos"</title>
         <link rel="stylesheet"
    href="{{ url_for('static', filename='css/estilos.css')}}">
    </head>
    <body>
        <h1>Lista de alumnos</h1>
        <ul>
            <li>Cristel</li>
            <li>Angel</li>
            <li>Alma</li>
            <li>Eduardo</li>
            <li>Lucero</li>
        </ul>
        <a href="/"index.html>Volver a la pagina principal</a>
    </body>
</html>
<head>
    <meta charset="UTF-8">
    <title>
        "Menu principal"
    </title>
   
</head>